body {
    background-color: #E2EF95;
    padding: 0px;
    margin: 0px;
}

/*Menu*/

ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0 0 0 35%
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: #747F93;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

#quisom {
    background-color: #F8C58D;
}

#quisom:hover {
    background-color: #D6A46D;
}

#quisom:active {
    background-color: #F8C58D;
    border: solid 3px #89B5A7;
}

#inici {
    background-color: #E2EF95;
    border-top: solid 3px #89B5A7;
    border-left: solid 3px #89B5A7;
}

#inici:hover {
    background-color: #DCF342;
}

#inici:active {
    background-color: #DCF342;
    border: solid 3px #89B5A7;
}

#especialitats {
    background-color: #BAEF97;
}

#especialitats:hover {
    background-color: #8DFB45;
}

#especialitats:active {
    background-color: #8DFB45;
    border: solid 3px #89B5A7;
}

#quefem {
    background-color: #E8A889;
}

#quefem:hover {
    background-color: #EB8A5B;
}

#quefem:active {
    background-color: #EB8A5B;
    border: solid 3px #89B5A7;
}

#contacte {
    background-color: #F88C8C;
}

#contacte:hover {
    background-color: #F85F5F;
}

#contacte:active {
    background-color: #F85F5F;
    border: solid 3px #89B5A7
}

#logo {
    padding: 0px 0px;
}

#logo:hover {
    padding: 0px 0px;
    margin: 0px;
}





li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: blue;
    min-width: 160px;
    ;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Contingut*/






* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}















/*footer*/

footer {
    margin: 20px 8% 0px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.row {
    display: flex;
}

.menu {
    list-style: none;

}

h4 {
    font-style: italic;
}

.footer {
    background-color: #724C49;
}

.footer-col {
    width: 35%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 13px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: ;
    position: relative;
}

.index {
    margin: 0px 0 0 120px;
}

.footer-col ul li a {
    font-size: 11px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
    font-style: italic;
}

.footer-col ul li a:hover {
    color: black;
    padding-left: 8px;

}

.pdf {
    font-size: 30px;
    color: red;

}
.contacte1{
    margin: 50px 0 0 0
}

